//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-block;
	font-weight: 600;
	font-size: rem(20);
	line-height: math.div(32, 20);
	background: $orangeColor;
	box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
	border-radius: 3px;
	color: $whiteColor;
	transition: box-shadow 0.3s ease 0s;
	text-align: center;
	padding: rem(8) rem(52);
	&:hover {
		box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.63);
	}
	@media (max-width: $mobileSmall) {
		width: 100%;
	}
	&._fw {
		width: 100%;
	}
}
